@import url("_custom-properties.css");
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}
body {background: var(--color-theme-body);}
hr {background-color: #e8e8e8;border: 0;height: 1px;margin-bottom: 1.5em;}
ul, ol {margin: 0 0 1.5em 3em;}
ul {list-style: disc;}
ol {list-style: decimal;}
li > ul, li > ol {margin-bottom: 0;margin-left: 1.5em;}
dt {font-weight: 700;}
dd {margin: 0 1.5em 1.5em;}
img {display: block;height: auto;max-width: 100%;}
figure {margin: .5em 0;}
table {margin: 0 0 1.5em;width: 100%;}