@import url("_custom-properties.css");
a {color: var(--color-link);text-decoration: none;}
a:hover, a:focus, a:active {color: var(--color-link-hover);}
a:hover, a:active {outline: 0;text-decoration: none;}